<div class="mad-lib">
  <p class="mad-lib-title"> <%= @mad_lib[1] %> </p>
  <p class="mad-lib-description"> <%= @mad_lib[2] %> </p> <br>   
</div>

<div class="input-area">
  <% if @error %>
    <p id="mad-lib-error-message"><%= @error %></p>
  <% end %>
  
  <form method="POST">
    <%# ph is the placeholder, like 'noun' or 'adjective' %>
    <% @mad_lib[4].each_with_index do | ph_and_default, i | %>
      <div class="query-term">  
        <b class="label"><%= ph_and_default[0] %></b>
        <input class="<%= 'error-input-box' if @error && @input_array[i].empty? %>" name="input_array[]" value="<%= @input_array[i] if @error %>">         <br>
      </div>
    <% end %>
    <input class="create-button" type="submit" value="Create">
  </form>
</div>

